## Hack to ignore compiled binaries
# Files without extensions in this case
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore all Makefiles
!Makefile

## Compiled MEX files
*.mexa64

# Ignore object files
*.o

# MATLAB data files
*.mat

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
*.eps

## PDF output files
*.pdf

## Txt output files
*.txt
